@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Open+Sans+Condensed:wght@300&family=Poppins&family=Thasadith&family=Yanone+Kaffeesatz&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background: #108dc7;
  overflow-x: hidden;
  transform-style: preserve-3d;
  position: relative;
}

.container.orca {
  background: #44a08d;
  background: -webkit-linear-gradient(to right, #093637, #44a08d);
  background: linear-gradient(to right, #093637, #44a08d);
  font-family: "Open Sans Condensed", sans-serif;
}

.container.theBlueLagoon {
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #191654, #43c6ac);
  background: linear-gradient(to right, #191654, #43c6ac);
  font-family: "Chilanka", cursive;
}

.container.deepSeaSpace {
  background: #2c3e50;
  background: -webkit-linear-gradient(to right, #4ca1af, #2c3e50);
  background: linear-gradient(to right, #4ca1af, #2c3e50);
  font-family: "Chilanka", cursive;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo a {
  text-decoration: none;
  color: #3d9970;
}

.logo span:last-of-type {
  color: #fff;
  font-weight: 100;
  font-size: 70%;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #d9d9d9;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #d9d9d9;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url(img/background/ahmedStore.jpg) no-repeat top center / cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(43, 51, 59, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}

.title span.divider {
  font-weight: lighter;
  color: rgb(61, 153, 112);
  text-shadow: 3px 1px rgba(61, 153, 112, 0.3);
}

.inner a {
  color: #3d9970;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.15em;
  letter-spacing: normal;
  font-weight: bold;
}

.inner a:visited,
.inner a:active,
.inner a:link,
.inner a:focus {
  text-decoration: none;
}

.inner a:hover {
  color: #4dacff;
}

.inner p {
  letter-spacing: 2.2px;
  font-family: "Thasadith", sans-serif;
}

.inner p span {
  display: inline-block;
  margin-top: 5px;
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: none;
  border-radius: 17px;
  color: #3d9970;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 3px;
  border: 1px solid #3d9970;
}

.btn:hover {
  color: #fff;
  transform: scale(1.1);
  border: 1px solid #fff;
  transition: all 0.3s;
}

.btn:focus {
  outline: none;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #d9d9d9;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.sub-link {
  color: #fff;
  list-style-type: circle;
  text-transform: capitalize;
  transform: translateX(40px);
  font-weight: 300;
  letter-spacing: 2px;
  opacity: 0;
  animation: hide-sub 0.5s forwards ease;
}

.sub-link.active {
  opacity: 1;
  animation: sub-show 0.5s forwards ease-in;
}

.sub-link li {
  color: #d9d9d9;
}

.sub-link li:hover {
  color: #fff;
}

@keyframes sub-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide-sub {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Theme */
.orca,
.theBlueLagoon,
.deepSeaSpace {
  cursor: pointer;
}

.links a:hover {
  color: #fff;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

/* popup */
.popup {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

.login {
  display: none;
}

.registration {
  display: none;
}

.registration,
.login {
  background: rgba(7, 18, 13, 0.7);
  position: relative;
  width: 450px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 7px rgba(43, 110, 80, 0.7);
  border-radius: 5px;
  padding: 35px 30px;
}

.registration h2,
.login h2 {
  padding-bottom: 10px;
  text-align: center;
}

.registration i,
.login i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 20px;
  color: #f0f0f0;
  transition: color 0.5s ease, transform 0.5 ease;
}

.registration i:hover,
.login i:hover {
  color: #fff;
  transform: scale(1.05);
}

.registration i:active,
.login i:active {
  transform: scale(0.98);
}

.registration .form-control,
.login .form-control {
  position: relative;
  padding-bottom: 15px;
  width: 100%;
}

.registration .form-control label,
.login .form-control label {
  color: #eaf7fb;
  display: block;
  margin-bottom: 5px;
  padding-top: 10px;
}

.registration .form-control input,
.login .form-control input {
  border: 2px solid #f0f0f0;
  margin-bottom: 5px;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.registration .form-control input:focus,
.login .form-control input:focus {
  outline: 0;
  border-color: #777;
  transform: translate(-2px);
  transition: transform 0.1s;
}

.registration .form-control.success input,
.login .form-control.success input {
  border-color: var(--success-color);
}

.registration .form-control.error input,
.login .form-control.error input {
  border-color: var(--error-color);
}

.registration .form-control small,
.login .form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.registration .form-control.error small,
.login .form-control.error small {
  visibility: visible;
}

.registration button,
.login button {
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  margin-top: 20px;
  width: 40%;
  display: block;
  letter-spacing: 1px;
}

.registration button:focus,
.login button:focus {
  outline: none;
}

.registration button[type="submit"],
.login button[type="submit"] {
  background: #218bab;
  border: 2px solid #218bab;
}

.registration button[type="submit"]:hover,
.login button[type="submit"]:hover {
  background: #186881;
  border: 2px solid #186881;
  transition: all 0.3s ease;
}
